{% extends "Skeleton.twig" %}

{% block content %}

<div>
    <h1>Categories</h1>
    <ul>
        {% for c in categories %}
            <li> <a href= {{ url_for ('categorieId',{'id' :c.id })}}> {{c.id}} - {{c.libelle}} : {{c.description}}</a></li>
        {% endfor %}
    </ul>

    <a href="#" onclick="window.history.go(-1)">Retour</a>
</div>

{% endblock %}


