{% extends "Skeleton.twig" %}

{% block content %}
<div>
    <p class="titre">Create a box</p>
    <form action="/box/create" method="post" id="form-new-box">
        <div><label for="libelle"></label><input type="text" id="libelle" name="libelle" placeholder="Libelle"></div>
        <div><label for="description"></label><input type="text" id="description" name="description" placeholder="Description"></div>
        <!--<div><label for="montant"></label><input type="number" id="montant" name="montant" placeholder="Montant"></div>-->
        <button  type="submit">Create</button>
    </form>

    <a href="#" onclick="window.history.go(-1)" class="bouton">Retour</a>
    </div>
{% endblock %}