{% extends "Skeleton.twig" %}

{% block content %}
    <div>
        <p class="idPrest">{{ Prestation.id }} created</p>
        <p class="description">La prestation a bien changé de categorie</p>

        <a href="#" onclick="window.history.go(-1)" class="bouton">Retour</a>
    </div>
{% endblock %}