{% extends "Skeleton.twig" %}

{% block content %}

<div>

    <p class="titre"> {{prestation.libelle}} </p>
    <p class="description"> {{prestation.description}} </p>
    <p class="prix">{{prestation.unite}} = {{prestation.tarif}}€</p>



    <a href="#" onclick="window.history.go(-1)" class="bouton">Retour</a>
</div>

{% endblock %}