{% extends "Skeleton.twig" %}

{% block content %}
<div>
    <p class="titre">{{ data.libelle }} created</p>
        <p class="description">Description : {{ data.description }}</p>
        <p class="prix">Prix : {{data.montant }}€</p>

    <a href="#" onclick="window.history.go(-1)" class="bouton">Retour</a>
</div>
{% endblock %}